# ==============================
# IGNORAR ARCHIVOS GENERALES
# ==============================

# Visual Studio 2015+ user specific files
.vs/
.vscode/

# Archivos de compilación de Visual Studio
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# ==============================
# IGNORAR ARCHIVOS COMPILADOS
# ==============================

# Objetos compilados
*.slo
*.lo
*.o
*.obj

# Headers precompilados
*.gch
*.pch

# Librerías dinámicas compiladas
*.so
*.dylib
*.dll

# Módulos Fortran
*.mod

# Librerías estáticas compiladas
*.lai
*.la
*.a
*.lib

# Ejecutables
*.exe
*.out
*.app
*.ipa

# ==============================
# IGNORAR ARCHIVOS GENERADOS POR EL MOTOR UNREAL
# ==============================

# Archivos de proyectos generados por Unreal
*.xcodeproj
*.xcworkspace

# Archivos binarios compilados
Binaries/*
Plugins/**/Binaries/*

# Archivos de build generados
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# No ignorar archivos de iconos en Build
!Build/**/*.ico

# Datos compilados de los mapas
*_BuiltData.uasset

# ==============================
# IGNORAR ARCHIVOS TEMPORALES Y CACHE
# ==============================

# Archivos de configuración generados por el Editor
Saved/*
Motores2BT/Saved/Logs/
Motores2BT/Saved/Telemetry/

# Archivos intermedios de compilación
Intermediate/*
Plugins/**/Intermediate/*

# Cache del editor
DerivedDataCache/*

# ==============================
# IGNORAR ASSETS Y OTROS ARCHIVOS BINARIOS
# ==============================

# Archivos de assets en formato binario
SourceArt/**/*.png
SourceArt/**/*.tga

# ==============================
# IGNORAR ARCHIVOS DEL SISTEMA Y TEMPORALES
# ==============================

# Archivos temporales del sistema
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ==============================
# EXCEPCIONES
# ==============================

# No ignorar archivos de configuración del proyecto de Unreal
!Config/
!Content/
!Source/
